[submodule "rpiz-xcompile"]
	path = rpiz-xcompile
	url = git@github.com:nicolasbrailo/rpiz-xcompile.git
[submodule "occupancy-sensor-ld2410s/debugScript"]
	path = occupancy-sensor-ld2410s/debugScript
	url = git@github.com:nicolasbrailo/ld2410s.git
